# This file contains constraints for python dependencies in Composer.
#
# These constraints are enforced only during preparation of the preinstalled
# packages for Composer Airflow images. They are NOT enforced during
# installation of custom python packages (python packages installed by customer
# on top of preinstalled), meaning that customer can technically install
# versions of the packages that do not satisfy constraints specified in this
# file.
#
# SV - constraint(s) to avoid security vulnerabilities.
aiohttp>=3.8.5  # SV
apache-airflow-providers-common-compat>=1.8.0  # unit tests failing for versions prior to 1.8.0
apache-airflow-providers-fab>=2.4.3,<3.0.0  # help pip to properly resolve dependencies. unit tests failing for 3.0.0
click<8.3.0  # 8.3.0 version is not compatible with Airflow
fastapi<=0.118.2  # later versions are not compatible with Airflow
Flask-AppBuilder>=4.6.3  # help pip to properly resolve dependencies
Flask-Session<0.6.0  # TODO: remove once https://github.com/apache/airflow/issues/36897 is closed
flower>=2.0.0  # SV
google-cloud-datacatalog-lineage-producer-client>=0.2.2  # help pip to properly resolve dependencies
pandas<=2.1.4  # some unit tests are failing for higher versions
pip==23.2.1
pygments>2.15.0  # SV
pytest!=8.4.0  # https://github.com/pytest-dev/pytest/issues/13477
setuptools>=78.1.1  # SV
sqlalchemy-spanner!=1.12.0  # https://github.com/googleapis/python-spanner-sqlalchemy/issues/682
structlog<25.5.0  # 25.5.0 is incompatible with Airflow
virtualenv>=20.24.0  # SV
werkzeug>=2.2.3  # SV
