# This file contains constraints for python dependencies in Composer.
#
# These constraints are enforced only during preparation of the preinstalled
# packages for Composer Airflow images. They are NOT enforced during
# installation of custom python packages (python packages installed by customer
# on top of preinstalled), meaning that customer can technically install
# versions of the packages that do not satisfy constraints specified in this
# file.
#
# SV - constraint(s) to avoid security vulnerabilities.
aiohttp>=3.8.5  # SV
apache-airflow-ctl>=0.1.3  # previous versions require a keyring
apache-airflow-providers-common-compat>=1.8.0  # unit tests failing for versions prior to 1.8.0
apache-airflow-providers-cncf-kubernetes==10.14.0 # to avoid bumping version in RRC1
# TODO: apache-airflow-providers-fab >=3.6.0 is supported only by Airflow >=3.2.0. Remove constraint in Airflow 3.2.0.
apache-airflow-providers-fab>=3.2.0,<3.6.0
apache-airflow-providers-google==20.0.0 # to avoid bumping version in RRC1
apache-beam>=2.70.0
# requests==2.32.5 throws dependency warning message in case of using chardet 6+
chardet<6.0.0
dbt-adapters>=1.22.5
dbt-bigquery>=1.11.0
dbt-core>=1.11.2
Flask-AppBuilder>=4.6.3
firebase-admin>=7.0.0
flower>=2.0.0  # SV
google-api-core>=2.30.3  # previous versions till 2.27.0 cause performance degradation
google-cloud-aiplatform>=1.132.0
google-cloud-asset>=4.1.0
google-cloud-bigquery-storage>=2.36.0
google-cloud-datacatalog-lineage-producer-client>=0.2.2
google-cloud-datastore>=2.21.0
google-cloud-documentai>=3.7.0
google-cloud-filestore>=1.14.0
google-cloud-firestore>=2.23.0
pip==23.2.1
pygments>2.15.0  # SV
setuptools>=78.1.1  # SV
sqlalchemy-spanner!=1.12.0  # https://github.com/googleapis/python-spanner-sqlalchemy/issues/682
# TODO: remove constraint for structlog in Airflow 3.1.7+
structlog<25.5.0
tensorflow>=2.20.0
# TODO: try to remove constraint for universal-pathlib in Airflow 3.1.7+, when the sdk and tests should be compatible
universal-pathlib<=0.3.8
urllib3>=2.6.0 # SV
virtualenv>=20.24.0  # SV
# werkzeug >= 3.0.0 breaks TestComposerAuthRemoteUserView due to app.test_client() method incompatibility with the lib version
werkzeug>=2.2.3,<3.0.0  # SV
